* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
  background-image: url('./assets/img/bg2.png');
  background-size: cover; 	
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper_mem-slider {
  box-shadow: 0 0 30px rgba(0, 0, 0, .8);
  background: #282828;
  border-radius: 15px;
  padding: 20px 20px 30px;
	margin: 10px;
}
.slider-images {
  max-width: 700px;
  overflow: hidden;
  display: flex;
}
.slides {
	width: 100%;
	flex-shrink: 0;
	transition: margin-left 0.3s ease-in-out;
}
.slides > img {
  border-radius: 10px;
	max-width: 100%;
	max-height: 100%;
}
.wrapper-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slider-content {
	display: flex;
	width: 698px;
	justify-content: space-between;
	align-items: center;
}
.slider-text {
  display: flex;
  overflow: hidden;
}
.slider-text__item {
	flex-basis: 100%;
  flex-shrink: 0;
  margin-top: 36px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
	transition: margin-left 0.3s ease-in-out;
}
.controls {
  display: flex;
	flex-shrink: 0;
}
.wrapper_mem-slider > input {
  display: none;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 0px 0 22px;
	position: relative;
	width: 8px;
	background: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.controls__label:hover {
	background-color: #ddd;
}

.controls__label:active {
	background-color: #ddd;
}

.controls__label:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

.wrapper_mem-slider > input[data-value="1"]:checked ~ .slider-content .controls__label:nth-of-type(1),
.wrapper_mem-slider > input[data-value="2"]:checked ~ .slider-content .controls__label:nth-of-type(2),
.wrapper_mem-slider > input[data-value="3"]:checked ~ .slider-content .controls__label:nth-of-type(3),
.wrapper_mem-slider > input[data-value="4"]:checked ~ .slider-content .controls__label:nth-of-type(4),
.wrapper_mem-slider > input[data-value="5"]:checked ~ .slider-content .controls__label:nth-of-type(5) {
	background-color: #ddd;
	cursor: default;
}


.wrapper_mem-slider > input[data-value="1"]:checked ~ .slider-images .slides:first-child,
.wrapper_mem-slider > input[data-value="1"]:checked ~ .slider-content .slider-text__item:first-child {
	margin-left: 0%;
}

.wrapper_mem-slider > input[data-value="2"]:checked ~ .slider-images .slides:first-child,
.wrapper_mem-slider > input[data-value="2"]:checked ~ .slider-content .slider-text__item:first-child {
	margin-left: -100%;
}

.wrapper_mem-slider > input[data-value="3"]:checked ~ .slider-images .slides:first-child,
.wrapper_mem-slider > input[data-value="3"]:checked ~ .slider-content .slider-text__item:first-child {
	margin-left: -200%;
}

.wrapper_mem-slider > input[data-value="4"]:checked ~ .slider-images .slides:first-child,
.wrapper_mem-slider > input[data-value="4"]:checked ~ .slider-content .slider-text__item:first-child {
	margin-left: -300%;
}

.wrapper_mem-slider > input[data-value="5"]:checked ~ .slider-images .slides:first-child,
.wrapper_mem-slider > input[data-value="5"]:checked ~ .slider-content .slider-text__item:first-child {
	margin-left: -400%;
}

@media (max-width: 767px) {
	.wrapper_mem-slider {
		padding: 15px 15px 20px;
	}
	.slider-content {
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.slider-text {
		text-align: center;
	}
	.slider-text__item {
		font-size: 11px;
	}
}